@model IEnumerable<Spicyo.Models.OrderedRecipes>

@{ ViewData["Title"] = "Home"; }
@{ Layout = "_Layout"; }
<br />
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Recipe)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RecipeType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">Edit</a>
    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-warning">Details</a>
    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-warning">Delete</a>
</td>
</tr>
}
    </tbody>
</table>
